body {
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* Title Section */
.macho__title {
    background-color: rgb(241, 198, 69);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8rem;
    text-align: center;
    color: purple;
    padding: 50px;
}

/* Sub-title Section */
.macho__question {
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    text-align: center;
    color: pink;
    padding: 50px;
}

/* Macho Moods Section */
.macho__moods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: green;
}

.macho__moods--block {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    flex-basis: 30%;
}

.macho__moods--name {
    background-color: antiquewhite;
    max-height: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: pink;
    padding: 10px;

}

.macho__moods--img {
    height: 150px;
    width: 150px;
    background-color: rgb(205, 42, 172);
    height: 40%;
}

.macho__moods--quote {

    background-color: blue;
    height: 40%;
    display: flex;
}

.macho__moods--quote--advice {
    background-color: aqua;
    width: 30%;
}

.macho__moods--quote--container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.macho__moods--quote--list {
    background-color: white;
    width: 70%;
    padding: 5px;
    margin: 5px;
}

